# DB=mongodb://localhost:27017/patient-dummy
SECRET=secret
TOKEN_EXPIRATION=5600000
REQUEST_TIMEOUT=5000

MONGOHOST=${{MongoDB.MONGOHOST}}
MONGOPASSWORD=${{MongoDB.MONGOPASSWORD}}
MONGOPORT=${{MongoDB.MONGOPORT}}
MONGOUSER=${{MongoDB.MONGOUSER}}
MONGO_URL=${{MongoDB.MONGO_URL}}